<%= semantic_form_for(@active_cms_page, :as => 'active_cms_page', :url => page_path_for(@active_cms_page)) do |f| %>

  <li class="string input required stringish">
    <%= f.input :title, :label => "Publish Post At" %>
    <%= f.input :title %>
  </li>
  <li>
    <%= f.input :slug %>
  </li>
  <li>
    <%= f.select :parent_id, ActiveCms::Page::tree %>
  </li>
  <li>
    <h3><%= I18n.t('active_cms.pages.fields.skip_header') %></h3>
  <li>
    <%= f.input :skip %>
  </li>
  <li>
    <%= f.input :body, :input_html => {:class => :ckeditor} %>
  <li>

<% end %>
